//- header
header.header
  .header__logotype
    a(href="") 
      img(src="", alt="")
  .header__menu
    ul
      li
        a(href="") Services
      li
        a(href="") Clients
      li
        a(href="") Our team