//- header
header.header
  .container
    .header__logotype.scrollTop
      a.header__logotype-link(href="#") 
        img.svg(src="static/images/general/logotype.svg", alt="Logotip")
    input(id="burger" class="burger-check" type="checkbox")
    label(for="burger" class="burger")
    nav
      ul.menu__list
        li.menu__list-item
          a(href="#services") Services
        li.menu__list-item
          a(href="#clients") Clients
        li.menu__list-item
          a(href="#team") Our team
        li.menu__list-item
          a(href="#contact-us") Contact us