//- header
header.header
  .container
    .header__logotype
      a.header__logotype-link(href="#") 
        img.svg(src="static/images/general/logotype.svg", alt="Logotip")
    nav
      ul.menu__list
        li.menu__list-item
          a(href="#") Services
        li.menu__list-item
          a(href="#") Clients
        li.menu__list-item
          a(href="#") Our team
        li.menu__list-item
          a(href="#") Contact us