// our-client
.ourClients {
  position: relative;
  border-top: 1px solid $dark-green;
  &__title {
    position: absolute;
    top: -1.4rem;
    left: -1.6rem;
    @include max-1198{
      left: 1rem;
    }
    h3{
      background: white;
      padding-right: 5.6rem;
      padding-left: 1.6rem;
      font-size: 2rem;
      line-height: normal;
      font-weight: normal;
      color: $dark-green;
      text-transform: uppercase;
      letter-spacing: normal
    }
  }
  .container{
    position: relative;
    padding-top: 3.7rem;
    padding-bottom: 7.6rem;
    @include max-1198 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @include max-768 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  &__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: stretch;
    & > &-item {
      align-self: stretch;
      flex-basis: 25%;
      flex-grow: 1;
      align-items: center;
      flex-shrink: 2;
      display: flex;
      margin-top: 3.1rem;
      margin-bottom: 3.1rem;
      align-items: center;
      justify-content: center;
      .svg {
        transition: all .2s ease-in-out;
      }
      @include min-768 {
        &:hover .svg path {
          fill: $blue;
        }
        &:hover .svg {
          transform: scale(1.1);
        }
      }
      @include max-768 {
        flex-basis: 50%;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      @include max-470 {
        flex-basis: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}