extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include pages/main/abaut-us
	include pages/main/our-services
	include pages/main/our-clients
	include pages/main/our-team