extends template/main

block variables
	- var title = 'Main page'
	- var pageClass = 'index-page'

block content
	.container
		include pages/main/abaut-us
	include pages/main/our-services
	include pages/main/our-clients
	include pages/main/our-team