//about-us
section.aboutUs#contact-us
    .aboutUs__content
        .aboutUs__content-title
            h1 We're an international development agency.
        .aboutUs__content-desc
            p We understand the intricacies of web development inside-out. That's why we build rock-solid Mobile and Web applications enriched with user-centered visual experiences.
        .aboutUs__content-link
            a(href='#') Contact Us