//our-clients
section.ourClients
    .container
        ul.ourClients__list
            each src in ['Link', 'Link', 'Link', 'Link']
                li.ourClients__list-item
                    img(src=src alt='Client')