//our-team
section.ourTeam
    .container
        .ourTeam__title
            h3 Our team
        .profile
            .profile__photo
                img(src='static/images/content/team/Nina.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='static/images/content/team/Tizzy.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Tizzy
                .profile__information-desc
                    p Front-end Developer
        .profile
            .profile__photo
                img(src='static/images/content/team/Tom.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Tom
                .profile__information-desc
                    p QA Automation
        .profile
            .profile__photo
                img(src='static/images/content/team/Alex.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Alex
                .profile__information-desc
                    p Front-end Developer
        .profile
            .profile__photo
                img(src='static/images/content/team/Thomas.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Thomas
                .profile__information-desc
                    p Mobile Developer
        .profile
            .profile__photo
                img(src='static/images/content/team/Claire.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Claire
                .profile__information-desc
                    p Back-end Developer
        .profile
            .profile__photo
                img(src='static/images/content/team/Stiven.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Stiven
                .profile__information-desc
                    p Back-end Developer
        .profile
            .profile__photo
                img(src='static/images/content/team/Anna-Marie.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Anna-Marie
                .profile__information-desc
                    p Product Designer
        .profile
            .profile__photo
                img(src='static/images/content/team/Ernst.png' alt='Profile')
            .profile__information
                .profile__information-title
                    p Ernst
                .profile__information-desc
                    p Back-end Developer