//our-team
section.ourTeam
    .container
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager
        .profile
            .profile__photo
                img(src='' alt='')
            .profile__information
                .profile__information-title
                    p Nina
                .profile__information-desc
                    p Team Manager