//- footer
footer.footer
  .footer__logotip
    a.footer__logotip-link 
      img(src='')
  .footer__social
    ul.footer__social-list
        li.footer__social-item
          a(href='')
        li.footer__social-item
          a(href='')
        li.footer__social-item
          a(href='')
        li.footer__social-item
          a(href='')