//- footer
footer.footer
  .container
    .footer__logotype.scrollTop
      a.footer__logotype-link 
        img.svg(src='static/images/general/logotype.svg' alt='Logotype')
    .footer__social
      ul.list
        li.list__item
          a(href='#').list__item-link
            img.svg(src='static/images/content/social/git.svg' alt='git')
        li.list__item
          a(href='#').list__item-link
            img.svg(src='static/images/content/social/be.svg' alt='be')
        li.list__item
          a(href='#').list__item-link
            img.svg(src='static/images/content/social/in.svg' alt='in')
        li.list__item
          a(href='#').list__item-link
            img.svg(src='static/images/content/social/code.svg' alt='code')